@import "normalize.scss"
@import "reset.scss"

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2

*
    box-sizing: border-box
    
.container
    max-width: 1140px
    margin: 0 auto
    position: relative
.main-section
    position: relative
    min-height: 800px
    background-color: #F0F0F0
    padding-top: 16px
    overflow: hidden
    &__nav-container
        height: 69px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__logo
        width: 134px
    &__content-container
        position: relative
        display: flex
        flex-direction: row
    &__first-elipse
        position: absolute
        top: 120px
        right: 80px
    &__second-elipse
        position: absolute
        top: 650px
        right: -120px



.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-size: 18px 
        &:last-child
            margin-right: 0
.left-wrapper
    position: relative
    img
        position: relative
        z-index: 5
    &__rectangle-blue
        position: absolute
        top: 150px
        left: -50px
        width: 565.95px
        height: 220px
        background: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-64deg)
        z-index: 2
    &__rectangle-orange
        position: absolute
        width: 618.43px
        height: 220px
        left: -30px
        top: 160px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-50.81deg)
        z-index: 3
    &__rectangle-grey
        position: absolute
        width: 608.97px
        height: 220px
        left: 10px
        top: 190px
        background: $color-grey
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        transform: rotate(-36.15deg)
        z-index: 1
.rigth-wrapper
    width: 372px
    position: absolute
    top: 150px
    right: 76px
    z-index: 1
    &__icons-box
        margin-bottom: 1px
        padding-left: 10px
    &__title
        margin-bottom: 5px
    &__text
        font-size: 16px
        margin-bottom: 20px
.icons
    display: flex
    flex-direction: row
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-blue
        border-radius: 100px
        margin-right: 17px
        &:last-child
            margin-right: 0px
        i
            font-size: 21px
.title
    font-size: 72px
    position: relative
    &__hr
        width: 65px
        position: absolute
        bottom: 0px
        margin: 0px
        border: none
        border-top: 1px solid black
.buttons
    display: inline-flex
    &__main-btn
        margin-right: 32px
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        border: none
        color: white
        font-size: 18px
        &:last-child
            margin-right: 0px
    &__icon-btn
        display: inline-flex
        align-items: center
        img
            margin-right: 12px
    &__text
        font-size: 16px
        
.elipse
    display: flex
    align-items: center
    justify-content: center
    width: 194px
    height: 194px
    background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%)
    border-radius: 100px
    &_dig
        width: 282px
        height: 282px
        border-radius: 150px
    &__subtract
        width: 129.33px
        height: 129.33px
        background: #F0F0F0
        border-radius: 100px
        &_big
            width: 188px
            height: 188px
            border-radius: 150px
        &_white
            background: #FFFFFF

.second-section
    position: relative
    min-height: 700px
    &__container
        padding-top: 32px
    &__title
        margin-bottom: 40px
    &__card-box
        display: inline-flex
        margin-bottom: 25px
    &__cards-item
        margin-right: 30px
        &:last-child
            margin-right: 0px
    &__icons-box
        display: flex
        justify-content: space-evenly
    &__icons-item
        &:last-child
            margin-right: 0px
    &__first-elipse
        position: absolute
        top: 80px
        right:-80px
        z-index: -1
    &__second-elipse
        position: absolute
        top: 364px
        left: -80px
        z-index: -1


.cards-item
    position: relative
    width: 360px
    height: 360px
    background-color: #E2E2E2
    border-radius: 10px
    display: flex
    align-items: flex-end
    &__img
        height: 335px
    &__text
        width: 280px
        font-size: 36px
        text-align: center
        transform: rotate(90deg)
        position: absolute
        top: 144px
        right: -30px

.cards-item_orange
    background: $color-orange

.cards-item_blue
    background: $color-blue

.icons-item
    display: inline-flex
    align-items: center
    &__img
        margin-right: 20px
        width: 80px
    &__text
        font-size: 18px
        span
            font-size: 48px
.thrid-section
    position: relative
    min-height: 640px
    background: #F0F0F0
    z-index: 0
    overflow: hidden 
    &__container
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding-left: 167px
        padding-top: 46px
    &__right-wrapper
        max-width: 480px
    &__right-title
        margin-bottom: 20px
    &__text
        margin-bottom: 30px
    &__first-elipse
        position: absolute
        top: 140px
        left: 110px
        z-index: -1
    &__figure
        position: absolute
        top: 249px
        left: 15px
        z-index: -1
    &__second-elipse
        position: absolute
        top: -120px
        right: -120px             